<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Bank Project</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a277bd">  <td>21/07/02 14:25:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManagerOperations.LoginSuccessful()[pri:0, instance:GuruAutomation.TestCases.ManagerOperations@2aafb23c]">LoginSuccessful</td> 
  <td>main@1510067370</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>21/07/02 14:25:34</td>   <td>3651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManagerOperations.deleteAccount()[pri:0, instance:GuruAutomation.TestCases.ManagerOperations@2aafb23c]">deleteAccount</td> 
  <td>main@1510067370</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>21/07/02 14:25:17</td>   <td>-13110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankProject.loginValidation(java.lang.String, java.lang.String)[pri:0, instance:GuruAutomation.TestCases.BankProject@63d4e2ba]">loginValidation</td> 
  <td>main@1510067370</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>21/07/02 14:25:21</td>   <td>-9330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankProject.loginValidation(java.lang.String, java.lang.String)[pri:0, instance:GuruAutomation.TestCases.BankProject@63d4e2ba]">loginValidation</td> 
  <td>main@1510067370</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>21/07/02 14:25:23</td>   <td>-6999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankProject.loginValidation(java.lang.String, java.lang.String)[pri:0, instance:GuruAutomation.TestCases.BankProject@63d4e2ba]">loginValidation</td> 
  <td>main@1510067370</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>21/07/02 14:25:27</td>   <td>-3536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankProject.loginValidation(java.lang.String, java.lang.String)[pri:0, instance:GuruAutomation.TestCases.BankProject@63d4e2ba]">loginValidation</td> 
  <td>main@1510067370</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>21/07/02 14:25:06</td>   <td>-24127</td> <td title="&gt;&gt;BankProject.setUp(java.lang.String)[pri:0, instance:GuruAutomation.TestCases.BankProject@63d4e2ba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510067370</td>   <td></td> </tr>
</table>
