<h2>Methods that were not run</h2><table>
<tr><td>GuruAutomation.TestCases.ManagerOperations.addNewAccount</td></tr>
<tr><td>GuruAutomation.TestCases.ManagerOperations.addNewCustomer</td></tr>
</table>